* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
    main .container {
      max-width: 100%;
      padding: 0 150px;
    }
}

p.success {
  color: green;
}

p.danger {
  color: red;
}

.contact,
.login,
.register,
.forgotPassword,
.resetPassword {
  position: relative;
  top: 150px;
}

body {
  font-family: Arial, sans-serif;
}


.header-border {
  border: 1px solid black;
}


.pagination-custom .page-link {
  border: none;
  background: none;
  color: #007bff;
}
.pagination-custom .page-link:hover {
  text-decoration: underline;
  background: none;
}

.form-container {
  margin-top:-140px; 
}

.register {
  padding: 20px; 
}

.status-badge {
  padding: 0.5em 1em;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  white-space: nowrap;
}

.status-badge.new-order {
  background-color: #ff4d4d;
}

.status-badge.on-delivery {
  background-color: #4da6ff;
}

.status-badge.delivered {
  background-color: #4dff4d;
}

.options-btn {
  background: none;
  border: none;
  color: #000;
  font-size: 1.8em;
  cursor: pointer;
}

.options-btn:hover {
  color: #007bff;
}

.badge {
  color: white;
}

.badge-role_admin {
  background-color: #ff4d4d;
}

.badge-role_owner {
  background-color: #4da6ff;
}

.badge-role_customer {
  background-color: #379a6e;
}
  

/* */

.options-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 0;
  position: relative;
}

.dropdown-menu {
  position: absolute;
  background-color: white;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 8px;
  z-index: 1000;
  width: 250px; 
  top: 35px; 
  left: auto; 
  right: 0;
  transform: translateX(-50%); 
}

.dropdown-item {
  padding: 10px 0;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 10px 0;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.permissions-options {
  padding: 10px 0;
  margin-top: 5px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

label {
  margin: 0;
}

.form-group {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  top: 50%; 
  right: 10px; 
  transform: translateY(-1%); 
  padding: 5px; 
  cursor: pointer;
}
