.banner {
    background-position: center;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-banner {
    background-image: url('../../assets/header_img.png');
}

.spices-banner {
    background-image: url('../../assets/logo.png');
}

.savory-banner {
    background-image: url('../../assets/about_img.png');
}
