.banner {
    position: relative;
    background-position: center;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.banner > * {
    position: relative;
    z-index: 2;
    color: white;
}

.banner h3 {
    font-size: 3.0rem; 
    color: #fff; 
    font-family: 'Great Vibes', cursive;
}

.banner h5 {
    font-size: 1.9rem; 
    color: #fff; 
}

.home-banner {
    background-image: url('../../assets/Vegetables1.png');
}

.spices-banner {
    background-image: url('../../assets/spices2.jpeg');
}

.savory-banner {
    background-image: url('../../assets/spices1.png');
}

.modal-color {
    color: black;
}

body.modal-open {
    overflow-y: scroll;
}
